<!--
  Generated template for the RiwayatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="title-custom" text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-grid padding>
    <ion-row>
      <ion-item>
        <ion-label stacked>Tanggal</ion-label>
        <ion-datetime [(ngModel)]="tanggal" displayFormat="MM/DD/YYYY"></ion-datetime>
        <button ion-button item-end (click)="cari()">cari</button>
        <button ion-button item-end (click)="reset()">reset</button>
      </ion-item>
    </ion-row>
    <ion-row style="border: 1px solid black">
      <ion-col style="border: 1px solid black" col-3 text-center>No. resi</ion-col>
      <ion-col style="border: 1px solid black" col-3 text-center>Pengirim</ion-col>
      <ion-col style="border: 1px solid black" col-3 text-center>Penerima</ion-col>
      <ion-col style="border: 1px solid black" col-3 text-center>Barang</ion-col>
    </ion-row>
    <ion-row style="border: 1px solid black" *ngFor="let riwayat of listRiwayat" (click)="goToDetail(riwayat.id_pengiriman)">
      <ion-col style="border: 1px solid black" col-3 text-center>{{riwayat.no_resi}}</ion-col>
      <ion-col style="border: 1px solid black" col-3 text-center>{{riwayat.nama_pengirim}}</ion-col>
      <ion-col style="border: 1px solid black" col-3 text-center>{{riwayat.nama_penerima}}</ion-col>
      <ion-col style="border: 1px solid black" col-3><span
          *ngFor="let barang of riwayat.list_barang">{{barang.nama_brg}}<br></span></ion-col>
    </ion-row>
    <!-- <table>
      <tr>
        <th text-center>No. resi</th>
        <th text-center>Pengirim</th>
        <th text-center>Penerima</th>
        <th text-center>Barang</th>
      </tr>
      <tr *ngFor="let riwayat of listRiwayat" >
        <td text-center><span text-wrap>{{riwayat.no_resi}}</span></td>
        <td text-center>{{riwayat.nama_pengirim}}</td>
        <td text-center>{{riwayat.nama_penerima}}</td>
        <td text-center>
          <span *ngFor="let barang of riwayat.list_barang">{{barang.nama_brg}}<br></span>
        </td>
      </tr>
    </table> -->
  </ion-grid>
</ion-content>