<ion-header>
  <ion-navbar>
    <ion-title text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item (click)="goToRiwayat()">
      {{'riwayat kiriman' | uppercase}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="goToAmbilBarang()">
      {{'barang kami ambil' | uppercase}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="goToCekTarif()">
      {{'cek tarif' | uppercase}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="goToLacak()">
      {{'lacak kiriman' | uppercase}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>
  <div id="gambar-iklan">
    Promosi
  </div><br>
  <div *ngIf="is_login==true">
    nama: {{user?.nama}}
    <div text-center>
      <button (click)="logout()" ion-button>logout</button>
    </div>
  </div>
  <div *ngIf="is_login==false">
    <div>
      <h5 text-center>Daftar Akun</h5>
      <ion-list>

        <ion-item>
          <ion-label fixed>Nama:</ion-label>
          <ion-input [(ngModel)]="nama" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>No Telp:</ion-label>
          <ion-input [(ngModel)]="no_telp" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password:</ion-label>
          <ion-input [(ngModel)]="psw" type="password"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label text-wrap fixed>Ulangi Password:</ion-label>
          <ion-input [(ngModel)]="ulangpsw" type="password"></ion-input>
        </ion-item> -->

      </ion-list>
      <p text-center>
        <button (click)="daftar()" ion-button>Daftar</button>
      </p>
    </div>
    <div>
      <h5 text-center>Masuk Akun</h5>
      <ion-list>

        <ion-item>
          <ion-label fixed>Nama:</ion-label>
          <ion-input [(ngModel)]="nama_login" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password:</ion-label>
          <ion-input [(ngModel)]="psw_login" type="password"></ion-input>
        </ion-item>

      </ion-list>
      <p text-center>
        Lupa password? <span style="color:#488aff" (click)="goToLupapsw()">Reset</span>
      </p>
      <p text-center>
        <button (click)="login()" ion-button>Masuk</button>
      </p>
    </div>
  </div>
</ion-content>